<div class="absolute z-[-1] w-[100dvw] h-[175dvh] overflow-hidden left-0 top-0">
    <div 
        class="absolute bg-red-500/50 size-32 top-10 left-16 blur-[100px] animate-pulse"
        style="animation: pulse 3s infinite;"
    ></div>
    <div 
        class="absolute bg-blue-500/50 size-64 top-0 right-0 blur-[200px]"
        style="animation: pulse 5s infinite;"
    ></div>
    <div 
        class="absolute bg-purple-500/50 size-64 bottom-128 blur-[200px]"
        style="animation: pulse 10s infinite;"
    ></div>
</div>


<section class="userProfile" *ngIf="user">
    <div class="profilePic">
        <img src="/default.jpg" alt="">
    </div>
    <div class="profileInfo">
        <div style="display: flex; align-items: center; gap: 5px;">
            <h2>{{user.nombre + " " + user.apellidos}}</h2>
            <div class="infoButtons">
                <button class="infoProfileButton">
                    <img src="/follow.png" alt="">
                </button>
                <button class="infoProfileButton block">
                    <img src="/block.png" alt="">
                </button>
            </div>
        </div>
        <h3>&#64;{{user.username}}</h3>
        <p>Desde clásicos inmortales hasta joyas ocultas que nadie conoce. Aquí comparto mis películas favoritas, las que me hicieron pensar… y las que simplemente me hicieron pasar un buen rato 🍿.</p>
    </div>
</section>

<section>
    <h2>Películas Criticadas</h2>
    <div class="corridor">
        <div class="movieCard" *ngFor="let pelicula of misPeliculas">
            <img 
                src="https://image.tmdb.org/t/p/w500/{{pelicula.movie_poster}}" 
                alt=""
                routerLink="/movie/{{pelicula.movie_id}}"
            >
        </div>
    </div>
</section>