:root{

    --paragraph-color: #cfcfcf;
    --terciary-color: #303030;;
    --secondary-color: #3a3a3a;
    --primary-color: #363636;
    --background-color: #202020;

}

*{
    font-family: "Poppins", sans-serif;
    scrollbar-width: none;
    scrollbar-color: transparent;
}
  
body{
    background-color: #202020;
    color: white;
}

.icon{
    color: white;
    width: 20px;
    height: 20px;
}